<div class="container">
  <div class="left-container">
    <div class="navigation">

    </div>
    <hr>
    <div class="logo-container">
      <div class="td">
        <h3>تضامن</h3>
      </div>
      <div class="logo">منصة
        <img class="icon-logo" src="../../../assets/Login/logowhite/logowhite.png" alt="">
      </div>
      <div class="p-icon">
        <img src="../../../assets/SignUp/icons/back.png" alt="">
      </div>
      <p><a class="navbar-brand" routerLink="">انقر هنا</a>للرجوع نحو الصفحة الرئيسية
      </p>

    </div>

  </div>
  <div class="right-container">


    <div class="login-parent-container">
      <div class="login-container">
        <h2>عضو جديد، احسنت الاختيار</h2>
        <p class="text">عبر استخدامكم لمنصة تضامن، ستساهمون في محاربة جائحة كوفيد 19 - والتصدي لها</p>

      </div>
      <!--انا متطوع -->

      <div class="grid-wrapper">
        <div class="card-wrapper">
          <input class="c-card" type="checkbox" id="1" value="1" checked="checked">
          <div class="card-content">
            <div class="card-state-icon"></div>
            <label for="1">
              <div class="image">
                <img src="../../../assets/SignUp/icons/volont.png" alt="">
              </div>
              <p class="small-meta dim">انا متطوع</p>
            </label>
          </div>
        </div>
      </div>

      <!-- انا مستفيد -->

      <div class="grid-wrapper">
        <div class="card-wrapper">
          <input class="c-card" type="checkbox" id="2" value="2" checked="checked">
          <div class="card-content">
            <div class="card-state-icon"></div>
            <label for="1">
              <div class="image"> <img src="../../../assets/SignUp/icons/help.png" alt="">
              </div>
              <p class="small-meta dim">انا مستفيد</p>
            </label>
          </div>
        </div>
      </div>
      <form class="login">



        <!--اسم المستخدم -->

        <label for="formGroupExampleInput">اسم المستخدم</label>
        <div class="left-inner-addon">
          <img class="icon-user" src="../../../assets/SignUp/icons/user.png" alt="">

          <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder=" اسمك الكامل">
          <!-- <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-user-o"></i></span>
          </div> -->
        </div>

        <!--الايميل  -->

        <label for="formGroupExampleInput"> الايميل</label>
        <div class="left-inner-addon">
          <img class="iconss" src="../../../assets/SignUp/icons/mail.png" alt="">

          <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="بريدك الاكتروني">
          <!-- <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
          </div> -->
        </div>

        <!--  كلمة لمرور-->
        <label for="formGroupExampleInput">كلمة لمرور</label>
        <div class="left-inner-addon">
          <img class="iconss" src="../../../assets/SignUp/icons/password.png" alt="">

          <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="كلمة مرورك">
          <!-- <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
          </div> -->
        </div>

        <!-- المدينة -->

        <label for="formGroupExampleInput"> المدينة</label>
        <!-- <div class="input-group mb-3"> -->
        <div class="left-inner-addon">
          <img class="iconss" src="../../../assets/SignUp/icons/city.png" alt="">

          <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="اسم مدينتك ">
        </div>
        <!-- <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
          </div> -->
        <!-- </div> -->

        <!--  -->

        <button type="submit" class="btn btn-info"> ابدا الان</button>
        <p class="top"> بالتسجيل اقبل <a routerLink=""> الشروط العامة الاستخدام
          </a></p>
      </form>
    </div>
  </div>
  <!-- test -->

  <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="left-inner-addon">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <input type="text" class="form-control" placeholder="Username" />
    </div>
  </div>
  .left-inner-addon i -->
