<div class="container">
  <div class="left-container">

    <div class="logo-container">
      <div class="logo">
        <img src="../../../assets/Login/Picture.jpg" alt="">
      </div>

    </div>

  </div>
  <div class="right-container">
    <div class="login-parent-container">
      <a class="navbar-brand" routerLink=""> الرجوع الصفحة الرئيسية </a>
      <h1>تسجيل الدخول</h1>
      <p class="p-fe">استخدام المنصة هو مجاني</p>
      <form class="login">
        <label for="formGroupExampleInput">الايميل</label>
        <div class="left-inner-addon">
          <img class="icon-mail" src="../../../assets/Login/icons/mailicon.png" alt="">

          <!-- <i class="fa fa-envelope-o" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="بريدك الاكتروني">

        </div>

        <!--  -->
        <label for="formGroupExampleInput">كلمة لمرور</label>
        <div class="left-inner-addon">
          <img class="icon-password" src="../../../assets/Login/icons/passwordicon.png" alt="">

          <!-- <i class="fa fa-unlock-alt" aria-hidden="true"></i> -->
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="كلمة مرورك">

        </div>
        <!--  -->

        <button type="submit" class="btn btn-info">تسجيل الدخول</button>
        <p class="top"> بتسجيل الدخول اقبل <a routerLink=""> الشروط العامة الاستخدام
          </a></p>
      </form>

      <div class="créer">
        <img class="icon" src="../../../assets/Login/icons/alerticon.png" alt="">
        <h2>ليس لديك حساب ؟ </h2>
        <p class="top-c"> يمكنك انشاء <a routerLink="/register"> حسابك الخاص عبر النقر
            هنا
          </a></p>
      </div>

    </div>
    <hr width="50%" align="right" />
  </div>
